@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


/* Adding style variables */

:root {
    --dark-1: #181818;
    --dark-2: #474747;
    --dark-3: #757575;
    --section-bg: #FFF8F3;
    --btn-bg: #FD6E0A;
    --font-45: 45px;
    --font-18: 18px;
    --line-height: 30;
    --font-bold: bold;
    --font-35: 35px;
    --font-20: 20px;
    --font-semi-bold: 600;
    --font-30: 30px;
    --font-hero: 85px

}

/* Body style */

* {
    font-family: "Open Sans";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1600px;
}

/* Nav bar design */

#letter-r {
    color: var(--btn-bg);

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 51px 230px 0 226px;
}


nav h3 {
    font-size: var(--font-45);
    font-weight: 900;
}

ul {
    display: flex;
    gap: 51px;
    align-items: center;
}

ul li {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    color: var(--dark-2);
    font-size: var(--font-20);
}

.basic-btn {
    background-color: var(--btn-bg);
    font-size: var(--font-20);
    font-weight: var(--font-bold);
    color: #FFF;
    border: none;
    border-radius: 5px;
}


#hire-me {
    height: 64px;
    width: 150px;
    padding: 18px 35px 36px;
}

/* Hero section */

.hero {
    display: flex;
    align-items: center;
    margin: 47px 38px 0 230px;
}

.info {
    margin-right: 1px;
}

.info h4 {
    font-size: var(--font-45);
    font-weight: var(--font-semi-bold);
    color: var(--dark-2);
}

.info h1 {
    font-size: var(--font-hero);
    font-weight: var(--font-bold);
    color: var(--dark-1);
}

.info p {
    font-size: var(--font-18);
    color: var(--dark-3);
    line-height: 1.3;
}


#dcv {
    padding: 18px 17px;
    height: 64px;
    width: 200px;
}

#contact-btn {
    height: 64px;
    width: 160px;
    font-size: var(--font-20);
    font-weight: var(--font-bold);
    color: var(--btn-bg);
}

.hero-img {
    height: 676px;
    width: 58   4px;
}
