@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: "Open Sans";
}

/* Shared styles */

.dark-one {
    color: #181818;
}

.dark-two {
    color: #474747;
}

.dark-three {
    color: #757575;
}

.white {
    color: #FFFFFF;
}

.primary-color {
    color: #FD6E0A;
}

.primary-btn-color {
    background-color: #FD6E0A;
}

.section-heading {
    font-size: 35px;
    font-weight: bold;
}



/* Navigation bar */

nav {
    background-image: url("/assets/images/header_bg.png"), url("/assets/images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, center left;
    background-size: auto, contain;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-right: 230px;
    margin-left: 226px;
}

.nav-bar h3 {
    font-size: 45px;
    font-weight: bolder;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 51px;

}

.nav-links li {
    list-style-type: none;
}

.nav-links li a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}

.hire-me-btn {
    font-size: 20px;
    font-weight: bold;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    background-color: #FD6E0A;
    color: aliceblue;
}



/* Hero section */

header {
    margin-bottom: 130px;
}

.hero {
    display: flex;
    align-items: center;
}

.hero-text {
    margin-left: 230px;
}

.hero-text h2{
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
}

.hero-text h1 {
    font-size: 85px;
    font-weight: bold;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 18px;
    line-height: 1.67;
    margin-bottom: 30px;
}

.download-cv {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    padding: 19px 17px 18px 17px;
    margin-right: 30px;
}

.contact {
    font-size: 20px;
    font-weight: bold;
    padding: 19px 23px 18px 24px;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
}

.hero-img {
    margin-right: 30px;
}


/* About me section */

.about-me {
    text-align: center;
    background-color: #FFF8F3;
    margin: 0 230px;
    padding: 131px 156.5px;
    border-radius: 10px;

    h3 {
        margin-bottom: 30px;
    }
}

.about-me-card {
    background-color: #fff;
}

.description {
    font-size: 18px;
    line-height: 1.67;
    margin-bottom: 30px;
}

.biodata {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.name, .email, .birth-date, .location  {
    font-size: 20px;
}

.bold {
    font-weight: bold;
}